<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homework | Sakhavat Aliyev</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


    <style>

    body {
        font-family: cursive;
      }

    .form-control {

        color: #ffffff;
        background-color: #ffd525;
        border: 1px solid #7d7d7d;
        border-radius: 20%;
      }
    </style>

<body>

  <nav class="navbar navbar-expand-sm" style="background-color: #ffd525;">

  <ul class="nav navbar-nav mx-md-auto justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/" style="font-weight: 700; font-size: 140%; font-family: cursive; color:#000;">Home</a>
    </li>
	<li class="nav-item">
      <a class="nav-link active" href="/about" style="font-weight: 700; font-size: 140%; font-family: cursive; color:#000;">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/form" style="font-weight: 700; font-size: 140%; font-family: cursive; color:#000;">Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/contact" style="font-weight: 700; font-size: 140%; font-family: cursive; color:#000;">Contact</a>
    </li>
  </ul>
  </nav>